@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

body {
    background-color: #121212;
    color: white;
    text-align: justify;
    font-family: 'Roboto Mono', monospace;   
}
.container{
    margin: 10rem auto 0vh auto;
    width: 100vw;
}
img{
    height: 25rem;
    border-radius: 50%;
}
.content{
    margin: auto;
}
.p{
    color:blueviolet;
}
.b{
    color: turquoise;
}
h2{
    text-align: center;
}
a{
    color: tomato;
}
a:hover{
    color: rgb(127, 19, 0);
}

@media screen and (max-width: 900px){
    img{
        margin: 0px auto 0px auto;
        height: 20rem;
    }
    .container{
        margin: auto;
    }
    h2{
        text-align: justify;
    }
}